.pisaInfoTitle {
    margin-left: 1rem;
    margin-bottom: 2rem;
    color: #17A2B8;
}

.pisaInfo {
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.educationTable {
    margin: 3rem 0;
    border: none;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ebe9e9;
    width: 100%;
}

.educationTable > tr > th {
    padding: 1rem;
}

.international-pisa-avg {
    text-align: right;
}

.educationTable > tr > th:first-child {
    padding-left: .5rem;
}

.educationTable td {
    padding: .5rem;
    border-top: 1px solid #eeeeee;
}

.educationTable td:nth-child(2), .educationTable td:nth-child(3) {
    padding-left: 5rem;
    text-align: right;
}

@media (min-width: 320px) and (max-width:450px) {
    .educationTable td:nth-child(2), .educationTable td:nth-child(3) {
        padding-left: 0;
    }
}

.educationTable td:first-child {
    color: #17A2B8;
    font-weight: 800;
}

.educationStat {
    font-size: 1.15rem;
}