.pisaInfoTitle {
    margin-left: 1rem;
    margin-bottom: 2rem;
    color: #17A2B8;
}

.pisaInfo {
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.educationTable {
    width: 100%;
}

.educationTable > tr > th {
    text-align: right;
}

.educationStat {
    font-size: 1.15rem;
}