:root {
  --light-purple: #a49fd3;
  --teal: #17a2b8;
  --dark-purple: #1c1747;
  --border-color: #eeeeee;
}

body {
  background: var(--light-grey);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.session-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
}

.card-container {
  padding: 10px;
}

.card {
  margin-bottom: 1rem;
}

.card-body {
  margin-left: 1rem;
}

.housing > h3, .daily-expenses > h3 {
    margin-bottom: 2rem;
    color: #17A2B8;
}

.housing > h3 {
  margin-top: 2rem;
}

.info-value {
  color: var(--teal);
  font-size: 1.3rem;
}
.col-3 {
  max-width: 100% !important;
}
table {
  margin-top: 1.2rem;
}

h4 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

tr {
  border-bottom: 1px var(--border-color) solid;
}

ul {
  max-height: 250px;
  overflow: auto;
}
