.dropup,
.dropright,
.dropdown,
.dropleft {
  position: static;
}

.selectProfessionForWage {
  margin-left: .5rem;
  margin-bottom: 1rem;
}

.salaryDropDownMenu {
    height: 10rem;
    overflow: auto;
}

.btn-salary {
    background-color: #A49FD3;
    color: white;
    margin-bottom: 1.5rem;
}

.row-salary-text {
  margin-top: 1rem;
}

.job-style {
  display: flex;
  margin-left: .5rem;
}

.job-style > h4 {
  text-decoration: underline;
}

hr {
  margin-bottom: 3rem;
}

.suitcase-style {
  font-size: 3rem;
  color: #17A2B8;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: -.6rem;
}

.salarySpan {
  color: #17A2B8;
  font-size: 1rem;
  font-weight: 800;
  margin-left: 0;
}

.salaryResultsSpan {
  font-size: 1.1rem;
}

@media screen and (max-width: 340px) {
  .suitcase-style {
    margin: -.6rem 1rem 0 1rem;
  }
}