:root {
  --light-purple: #a49fd3;
  --teal: #17A2B8;
  -dark-purple: #1c1747;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.intro {
  padding: 10px;
}
.intro b {
  color: var(--teal);
}

.cityDescription {
  width: 95%;
}
