.searchBar > .col-md-3, .col-md-4 {
    height: 2rem;
}

.searchBar {
    background-color: white;
    height: 2rem;
    margin-left: 0;
    width: 100%;
    z-index: 5;
    height: 1.9rem;
}

.searchBar > .col-md-4:first-of-type{
    padding-left: 0;
}

@media (min-width: 768px) {
    .searchMobile {
        display: none;
    } 
}

@media (max-width: 767px) {
    .searchDesktop {
        display:none;
    }
    .searchMobile {
        width: 100%;
    }

    .searchMobile > .col {
        padding: 0;
    }
}

.form-control {
    border: 1px solid white;
}

.searcBar > .row {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0; 
}
