.searchBar > .col-md-3, .col-md-4 {
    height: 2rem;
}

.searchBar {
    background-color: white;
    height: 2rem;
    margin-bottom: -.5rem;
    width: 110%;
    z-index: 5;
    position: fixed;
    top: 8rem;
}

.searcBar > .row {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0; 
}
