body,
html {
  height: 100%;
  background-color: #ededed;
}

.row {
  width: 100%;
}

.appRow > .col-md-8 {
  padding: 0;
}

.card {
  margin-bottom: 1rem;
}

.card-body {
  margin-left: 1rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 1rem 0 2rem 0;
}

h4 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.25rem;
  margin-left: 0.5rem;
}

.topBar {
  height: 8rem;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #1c1747;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBar > img {
  position: relative;
  height: 5rem;
  width: 5rem;
}

.topBar > p {
  position: absolute;
  margin-top: 0.5rem;
  padding: 0 1rem 0 1rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.App {
  max-width: 100%;
  margin-bottom: 3rem;
}

.App > .row {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.invisible {
  display: none;
}

@media (min-width: 769px) {
  .mobile-back-to-top {
    display: none;
  }
}

.mobile-back-to-top {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-color: #a49fd3;
  margin: 0 1rem 1rem 0;
}

@media (max-width: 425px) {
  .mobile-back-to-top {
    background-color: rgba(164, 159, 211, 0.712);
  }
}

a {
  color: white;
}
